    <div class="container">
      <div class="starter-template">

        <div class="row">
          <div class="col-md-6">
            <p class="lead">Welcome, <%= current_user.name %></p>
          </div>
          <% if @today_point == 0 %>
          <div class="col-md-6">
            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#RecordPointsModal">Record Points</button>
          </div>
          <% end %>
        </div>


  <div class="row">
    <div class="col-md-6">&nbsp;</div>
    <div class="col-md-6">&nbsp;</div>
  </div>

      <div class="table-responsive">
        <table class="table">

          <tr>
          <td></td>
          <% @dateslist.each do |n| -%>
          <td><%= n  %></td>
          <% end -%>
          </tr>

          <tr>
          <td>Meditate (Workout)</td> 
          <% @workoutlist.each do |n| -%>
          <td><% if n == 1 -%><span class="badge badge-yellow">&nbsp;</span><% else -%>&nbsp;<% end -%></td>
          <% end -%>
          </tr>

          <tr>
          <td>Stretch (Mobilize)</td>
          <% @mobilizelist.each do |n| -%>
          <td><% if n == 1 -%><span class="badge badge-green">&nbsp;</span><% else -%>&nbsp;<% end -%></td>
          <% end -%>
          </tr>

        </table>
      </div>


      </div>
    </div>


<!-- Modal -->
<div class="modal fade" id="RecordPointsModal" tabindex="-1" role="dialog" aria-labelledby="RecordPointsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Yesterday's Points</h4>
      </div>
      <div class="modal-body">
        <%= form_for :post, url: posts_path do |f| %>

  <fieldset>

  <div class="row">
    <div class="col-md-6">
      <p class="text-right">
        <label for="workout">Meditate (Workout)</label>
      </p>
    </div>
    <div class="col-md-6">
      <div class="onoffswitch">
        <%= check_box_tag "post[workout]", "1", true, :class => 'onoffswitch-checkbox' %>
        <label class="onoffswitch-label" for="post_workout">
          <div class="onoffswitch-inner"></div>
          <div class="onoffswitch-switch"></div>
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">&nbsp;</div>
    <div class="col-md-6">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p class="text-right">
        <label for="mobilize">Stretch (Mobilize)</label>
      </p>
    </div>
    <div class="col-md-6">
      <div class="onoffswitch">
        <%= check_box_tag "post[mobilize]", "1", true, :class => 'onoffswitch-checkbox' %>
        <label class="onoffswitch-label" for="post_mobilize">
          <div class="onoffswitch-inner"></div>
          <div class="onoffswitch-switch"></div>
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">&nbsp;</div>
    <div class="col-md-6">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <p class="text-right">
        <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Cancel</button>
      </p>
    </div>
    <div class="col-md-6">
      <%= f.submit 'Save', :class => 'btn btn-lg btn-primary' %>
    </div>
  </div>

        <% end %>

  </fieldset>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
